@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: relative;
  background-color: #c5e2fd;
  height: 100%;
  width: 100%;
  color: #404a53;
  font-family: 'Roboto Mono', monospace;
}

header {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.title {
  color: #404a53;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: default;
}

.open-instructions {
  color: #54616d;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.min-word-spacing {
  word-spacing: -4px;
  padding-right: 0.6rem;
}

.open-instructions-icon {
  font-size: 1.9rem;
  color: #7ca5cc;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* Instructions modal */

.open-modal i,
.close-modal i {
  position: absolute;
  font-size: 1.9rem;
  color: #7ca5cc;
  right: 0.15rem;
  top: 0.25rem;
  padding: 0.7rem 0.9rem;
  cursor: pointer;
}

.open-modal i:hover,
.open-modal i:focus,
.close-modal i:hover,
.close-modal i:focus,
.open-instructions-icon:hover,
.open-instructions-icon:focus {
  color: #404a53;
}

.modal-overlay {
  position: fixed;
  z-index: 2;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.fade-in {
  -webkit-animation-name: animateFadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: animateFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fade-out {
  -webkit-animation-name: animateFadeOut;
  -webkit-animation-duration: 0.5s;
  animation-name: animateFadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.modal-window {
  position: relative;
  color: #404a53;
  background-color: #cce6ff;
  font-size: 0.9rem;
  margin: auto;
  padding: 1.625rem 1.25rem 1.25rem 1.25rem;
  z-index: 3;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-animation-name: animateDown;
  -webkit-animation-duration: 0.5s;
  animation-name: animateDown;
  animation-duration: 0.5s;
  pointer-events: auto;
}

@media (max-width: 360px) {
  .modal-window {
    padding: 1.85rem 1rem 1rem 1rem;
  }
}

.modal-window.close-modal {
  -webkit-animation-name: animateUp;
  animation-name: animateUp;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.modal-window p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  word-spacing: -1px;
}

.modal-window ul {
  list-style-position: inside;
  list-style-type: '■ ';
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #77899b;
  border-radius: 0.4rem;
}

.modal-window li {
  margin-bottom: 0.9rem;
  line-height: 1.5;
  word-spacing: -1px;
}

.modal-window li:last-of-type {
  margin-bottom: 0.375rem;
}

/* Animation */
@keyframes animateFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  99% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100%;
  }
}

@keyframes animateDown {
  from {
    top: -600px;
  }
  to {
    top: 0;
  }
}

@keyframes animateUp {
  from {
    top: 0;
  }
  to {
    top: -600px;
    opacity: 1;
  }
}

@-webkit-keyframes animateUp {
  from {
    top: 0;
  }
  to {
    top: -600px;
  }
}

/* Tool bar */

.actions-container {
  background-color: #637180;
  color: white;
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0;
  height: auto;
  padding: 0.5rem 1.1rem;
  border-top: 1px solid #515d69;
  border-bottom: 1px solid #515d69;
}

.refresh-colors,
.sort-by-hue,
.delete-favorites {
  display: flex;
  align-items: center;
  transition: color 200ms;
  cursor: pointer;
  width: 33.33%;
  /* border: 1px solid red; */
}

.refresh-colors {
  justify-content: flex-start;
}

.sort-by-hue {
  justify-content: center;
  visibility: visible;
}

.delete-favorites {
  visibility: hidden;
  justify-content: flex-end;
}

.active {
  visibility: visible;
}

.refresh-colors:hover,
.refresh-colors:focus,
.sort-by-hue:hover,
.sort-by-hue:focus {
  color: #ddefff;
}

.refresh-colors i,
.sort-by-hue i,
.delete-favorites i {
  margin-right: 0.5rem;
}

.refresh-colors i {
  transition: transform 200ms;
  transform: rotate(-7deg);
}

.refresh-colors:hover i {
  transform: rotate(30deg);
}

.sort-by-hue i {
  font-size: 1.1rem;
}

.sort-by-text {
  word-spacing: -3px;
}

.delete-favorites {
  cursor: pointer;
  /* visibility: hidden; */
}

.delete-favorites.active {
  visibility: visible;
}

.delete-favorites.active:hover,
.delete-favorites.active:focus {
  color: rgb(255, 125, 125);
}

/* Favorites bar */

.favorite-colors-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0rem 1rem 0rem 0.9rem;
}

.favorite-icon,
.clipboard-icon {
  display: inline-block;
  pointer-events: none;
  color: #9fc7ec;
  align-self: flex-start;
}

.favorite-icon {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.clipboard-icon {
  font-size: 1.3rem;
  position: absolute;
  right: 0.75em;
  top: 0.415rem;
  padding: 0.325rem 0.4rem;
  border-radius: 5px;
  border: 2px solid #9fc7ec;
}

.favorite-icon.icon-active {
  color: #515d69;
}

.clipboard-icon.icon-active {
  color: white;
  pointer-events: all;
  cursor: pointer;
  background-color: #5a6774;
  border-color: #5a6774;
}

.clipboard-icon:hover,
.clipboard-icon:focus i {
  color: #86fc1e;
}

/* Selected color tiles in favorites bar */

.favorite-colors {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3rem 0 0.1rem;
  margin-left: 0.65rem;
  margin-right: 2.625rem;
}

.favorite--color {
  position: relative;
  display: inline-block;
  top: 0;
  list-style-type: none;
  font-size: 0.8em;
  padding: 0.6em 0.9em 0.6em 0.75em;
  margin: 0rem 0.4em 0.2rem 0;
  cursor: pointer;
}

.favorite--color:last-of-type {
  margin-right: 0;
}

.favorite--color:hover:after {
  content: '\2715';
  font-size: 0.5rem;
  color: inherit;
  position: absolute;
  top: 2px;
  right: 3px;
  opacity: 0.9;
}

/* Sticky class added to favorites bar with JS when is reaches scroll position */
.favorite-colors-container.sticky {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.favorite-colors-container.sticky + .content {
  padding-top: 50px;
}

/* Color grid */

#color-grid {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2px;
  transition: opacity 500ms;
}

@keyframes gridFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#color-grid.fade-transition {
  animation-name: gridTransition;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes gridTransition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aspect-ratio trick to display square grid items */
#color-grid > .my--color::before {
  content: '';
  padding-bottom: 100%;
  display: block;
}

.my--color {
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
}

.hex--color {
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.4s;
}

.my--color:hover span.hex--color,
.my--color:focus span.hex--color,
.my--color:hover .add--favorite,
.my--color:focus .add--favorite {
  /* overrides inline style from JavaScript */
  opacity: 1;
}

.my--color.selected,
.my--color.selected span.hex--color,
.my--color.selected .add--favorite {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(50%);
  /* color: black !important; */
}

.add--favorite {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1em;
  padding: 0.3em 0.5em;
  opacity: 0.3;
}

@media (min-width: 480px) {
  .modal-window {
    width: 80%;
  }
}

@media (min-width: 576px) {
  .modal-window {
    width: 70%;
    max-width: 450px;
    padding: 1.85rem 1.5rem 1.6rem 1.5rem;
  }

  .open-modal i {
    font-size: 2rem;
    right: 0.3rem;
    top: 0.2rem;
  }

  .clipboard-icon {
    right: 0.95em;
    top: 0.4725;
  }

  .favorite-colors {
    margin-left: 1rem;
  }

  .favorite-colors li {
    margin: 0 0.625em 0.325em 0;
  }

  .my--color {
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  .modal-window {
    width: 55%;
  }

  .modal-window p {
    margin-bottom: 1.25rem;
  }

  header {
    padding: 1.6rem 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .open-modal i {
    font-size: 2rem;
    right: 0.4rem;
    top: 0.3rem;
  }

  .actions-container {
    padding: 0.5rem 1.5rem;
  }

  .favorite-colors-container {
    padding: 0rem 1.5rem 0rem 1.3rem;
  }

  .clipboard-icon {
    right: 1em;
  }

  .favorite-colors {
    margin-left: 1.2rem;
  }

  .favorite-colors li {
    margin: 0 0.625em 0.325em 0;
  }
}

@media (min-width: 1024px) {
  .modal-window {
    width: 40%;
    margin-top: 4rem;
  }

  .modal-window p {
    margin-bottom: 1.3rem;
  }

  .open-modal i {
    font-size: 2rem;
    right: 0.8rem;
    top: 0.45rem;
  }

  .actions-container {
    font-size: 1rem;
  }

  .favorite-icon {
    font-size: 2.2rem;
  }

  header {
    padding: 1.7rem 1.7rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .actions-container {
    padding: 0.5rem 1.7rem;
  }

  .favorite-colors-container {
    padding: 0rem 1.7rem 0.1rem 1.5rem;
  }

  .clipboard-icon {
    font-size: 1.45rem;
    right: 1.7rem;
    top: 0.385rem;
    padding: 0.35rem 0.45rem;
  }

  .favorite-colors li {
    margin: 0 0.75em 0.325em 0;
    font-size: 0.85em;
  }
}

@media (min-width: 1200px) {
  .modal-window {
    width: 35%;
    margin-top: 8.75rem;
  }
}
